body
{
	font-size: 16px;
	background-color:#cccccc;
	/*font-family: cursive;*/
	/*margin-top:70px;*/
}

h1
{
	margin-top: 20px;
	margin-bottom:20px;
	color:#2222bb;	
	font-size:1.75em;
}
.first-header
{
	background-color:#bbbb22;
	color:#2222bb;
}
.second-header
{
	background-color:#bb22bb;
	color:#2222bb;
}
.third-header
{
	background-color:#22bbbb;
	color:#2222bb;
}
section > h3
{
	border:1px solid black;
	float:right;
	margin-top:-1px;
	margin-right:-1px;
	margin-bottom:5px;
	padding:5px;
	font-size:1.25em;
}



section
{
	border:1px solid black;	
	overflow: hidden;
	background-color:#aaaaaa;
	margin-top:15px;
	margin-bottom:15px;
	height:900px;
}

section > p
{
	padding: 45px 10px 10px 10px;
}



.source-link
{
	padding:10px;
	float:right;			
}

#header-nav
{
	background-color:#bbbb22;
}

#header-text
{
	/*border:1px solid black;*/
	color:#2222bb;
	font-size:2em;
}

#main-header
{
	/*
	Just to link to
	*/
	height:10px;
}

.mobile-nav-menu-item
{
	/*border:1px solid #222222;*/
	border-width: 1px 1px 1px 1px;
	border-color: #222222;
	border-style: solid;
	margin:0px;
}

.my-anchor
{
	/*padding-top:150px;*/
	/*margin-top:70px;*/
}

ul > li
{
	margin-top:-1px;
	border:1px solid #222222;
	color:red;
}

ul

{
	 background-color: #bbbbbb;
}